<div class="info">
    <div class="timeLeftBar" ng-if="hasGameStarted">
        <div class="timeLeftBar__color" ng-style="progressBarStyle"></div>
        <div class="timeLeftBar__timeLeft">{{timeLeftString}}</div>        
    </div>
</div>    

<div ng-repeat="(indexY, row) in field" class="board">
    <div ng-repeat="(indexX, imageId) in row track by $index" class="imgRow" style="display:inline-block;">
        <img src="img/0.jpg" ng-click="onImageClicked(indexX, indexY, imageId, $event)" alt="" style="display:inline-block; height:102px; width:102px;">
    </div>
</div> 

<div class="backToMenu" ng-click="backToMenu()">Powrót</div>

<div class="alert" ng-if="isAlertVisible" >
    <span>{{alertContent}}</span>
    <button ng-click="hideAlert()">Ok</button>
</div>