* {
    font-family: Calibri;
}

@keyframes scrollDown{
    from{
        top: -100%;
    }
    to{
        top: 0;
    }
}

game .alert{
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left:0;
    top:0;
    color: white;
    font-size: 32px;
    text-align: center;
}

game .alert--animate{
    animation: scrollDown 0.5s;
}

game .alert button{
    padding:20px;
    text-align: center;
    border:3px solid black;
    margin-top:20px;
    cursor: pointer;
    border-radius: 12px;
    font-size:32px;
    font-family: Calibri;
    margin-left: 5px;
}

game .backToMenu{
    position: relative;
    width:calc(404px - 40px);
    padding:20px;
    text-align: center;
    border:3px solid black;
    margin-top:20px;
    cursor: pointer;
    border-radius: 12px;
    font-size:32px;
    font-family: Calibri;
    margin-left: 5px;
}
game .info{
    font-size: 32px;
    margin: 20px 0 20px 0;
    text-align: center;
    width: calc(404px - 40px);
}

